{{ define "title" }}
Página principal

{{ end }}

{{ define "content" }}
<h3>Lista de notas e lembretes.</h3>

{{if eq (len .) 0}}
<p>Nenhuma anotação criada.</p>

{{ end }}

<a href="/note/create">Criar Notação</a>
<br/><br/>
<table>
  <tr>
    <th>Id</th>
    <th>Titulo</th>
    <th>Conteúdo</th>
    <th>Cor</th>
    <th>Detalhe</th>
  </tr>
  {{range .}}
  <tr>
    <td>{{.ID}}</td>
    <td>{{.Title}}</td>
    <td>{{.Content}}</td>
    <td>{{.Color}}</td>
    <td><a href="/note/view?id={{.ID}}">Ver</a>
  </tr>
  {{end}}
</table>

{{ end }}